unConference Date&nbsp;&nbsp;11.03.12&nbsp;&nbsp;|&nbsp;&nbsp;<a target="_blank" href="http://marketingcampsv-2012.eventbrite.com/"><strong>Register</strong></a>
			
			<hr>
			
			<ul class="sdbrNav">
				<li><a href="#">About Marketing Camp</a></li>
				<li><a href="#">Mission</a></li>
				<li><a href="{{ path('users_display')}}">Leadership Team</a></li>
				<li><a href="{{ path('sponsors_display')}}">Our Sponsors</a></li>
				<li><a href="{{ path('partners_display')}}">Our Partners</a></li>
			</ul>
			
			<hr>
			
			<h2>Top 5 Proposed Topics</h2>				
				
			<ul class="topics">
				<li><a target="_blank" href="http://marketingcamp.uservoice.com/forums/172110-welcome-camper-/suggestions/3064723-personal-branding-for-entrepreneurs">Personal Branding for Entrepreneurs</a></li>
				<li><a target="_blank" href="http://marketingcamp.uservoice.com/forums/172110-welcome-camper-/suggestions/3165674-the-art-of-social-media">The Art of Social Media</a></li>
				<li><a target="_blank" href="http://marketingcamp.uservoice.com/forums/172110-welcome-camper-/suggestions/3192411-getting-the-right-people-to-talk-about-your-compan">Getting the Right People to Talk about Your Company</a></li>
				<li><a target="_blank" href="http://marketingcamp.uservoice.com/forums/172110-welcome-camper-/suggestions/3276521-growth-hacking-with-community-scaling-social-enga">Growth Hacking with Community: Scaling Social Engagement</a></li>					
				<li><a target="_blank" href="http://marketingcamp.uservoice.com/forums/172110-welcome-camper-/suggestions/3174150-content-marketing-content-creation-and-content-cu">Content Marketing, Content Creation and Content Curation</a></li>					
			</ul>
			
			<p><a class="btn" target="_blank" href="http://marketingcamp.uservoice.com/forums/172110-marketingcamp">View All Topics &amp; Vote </a></p>
			
			<hr>
			
			<!-- <strong>Some Call-to-Action here</strong>
			
			<hr> -->