{% extends 'EventBundle::layout.html.twig' %}
{% block innercontent %}
<div id="content">
	<div class="qList qListMP">
			<h2>New Questions</h2>
			
			<div class="row">
				<p><a href="#"><strong>Q1:</strong> At vero eos et accusamus et iusto odio dignissimos.</a></p>					
			</div>
			<div class="row">
				<p><a href="#"><strong>Q2:</strong> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</a></p>
			</div>
			<div class="row">	
				<p><a href="#"><strong>Q3:</strong> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</a></p>
			</div>
			<div class="row">
				<p><a href="#"><strong>Q4:</strong> Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus.</a></p>
			</div>
			<div class="row">	
				<p><a href="#"><strong>Q5:</strong> Et harum quidem rerum facilis est et expedita distinctio.</a></p>
			</div>
			<div class="row">	
				<p><a href="#"><strong>Q6:</strong> Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime</a></p>
			</div>
			<div class="row">	
				<p><a href="#"><strong>Q7</strong></a></p>
			</div>
			<div class="row">	
				<p><a href="#"><strong>Q8</strong></a></p>
			</div>
			<div class="row">	
				<p><a href="#"><strong>Q9</strong></a></p>
			</div>
			<div class="row">
				<p><a href="#"><strong>Q10</strong></a></p>
			</div>
			<div class="row">
				<p><a href="#"><strong>Q11</strong></a></p>
			</div>
			<div class="row">	
				<p><a href="#"><strong>Q12</strong></a></p>
			</div>

			<hr>				
			
			<h2>Popular Questions</h2>

			<div class="row">
				<p><a href="#"><strong>Q1:</strong> At vero eos et accusamus et iusto odio dignissimos.</a></p>
			</div>
			<div class="row">
				<p><a href="#"><strong>Q2:</strong> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</a></p>
			</div>
			<div class="row">
				<p><a href="#"><strong>Q3:</strong> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</a></p>
			</div>

			<p><a href="#"><strong>Q4:</strong> Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus.</a></p>
		</div>
		<div class="qSort">
			<div>
				<h3>Questions by SSO Type</h3>
				<ul class="lnks">
					<li><a href="#">Type 1</a></li>
					<li><a href="#">Type 2</a></li>
					<li><a href="#">Type 3</a></li>
					<li><a href="#">Type 4</a></li>
				</ul>
				
				<p class="right"><a href="#" class="btnSm">Propose new SSO type &rsaquo;</a></p>
				
				<br class="clr">
			</div>
			<div>
				<h3>Questions by Keyword</h3>
				<ul class="lnks">
					<li><a href="#">Keyword 1</a></li>
					<li><a href="#">Keyword 2</a></li>
					<li><a href="#">Keyword 3</a></li>
					<li><a href="#">Keyword 4</a></li>
				</ul>
				
				<p class="right"><a href="#" class="btnSm">Propose new SSO type &rsaquo;</a></p>
				
				<br class="clr">			
			</div>
			<div>
				<h3>Take the SSO Quiz</h3>
				<ul class="lnks">
					<li><a href="#">Question 1</a></li>
					<li><a href="#">Question 2</a></li>
					<li><a href="#">Question 3</a></li>
					<li><a href="#">Question 4</a></li>
				</ul>
				
				<p class="right"><a href="#" class="btnSm">Propose new SSO type &rsaquo;</a></p>
				
				<br class="clr">				
			</div>
		</div>
		
	{% include 'EventBundle::right_content.html.twig'%}
	<br class="clr">
			
	</div> <!-- end content -->
<div class="push"></div>
{% endblock %}

